
h1, h1 a, h2, h2 a, h3, h3 a {
	margin: 0;
	text-decoration: none;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #444444;
}

h1 {
	letter-spacing: -3px;
	font-size: 2.6em;
}

#header {
	height: 125px;
	background: #3399FF;
}

#menu {
	float: right;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu li {
	display: block;
	float: left;
	height: 82px;
}

#menu a.selected {
	display: block;
	width: 110px;
	height: 59px;
	padding: 0px 0 0 0;
	text-decoration: none;
	text-align: center;
	letter-spacing: -1px;
	font: bold 1.2em "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #444444;
	background: #99CCFF;
}

#menu a {
	display: block;
	width: 110px;
	height: 46px;
	padding: 0px 0 0 0;
	text-decoration: none;
	text-align: center;
	letter-spacing: -1px;
	font: bold 1.2em "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #444444;
}

textarea {
	width: 600px;
	height: 250px;
}
