{%extends "index.html"%}
{%load playertag%}
{%block content%}

<br /><br />
<center>
<h1>{{title}}</h1>
<br/><br/>

{%if form%}
<form method="POST" action="">

<table>
{{form.errors}}
<tr><td>Nom contient : </td><td></td><td>{{form.name}}</td></tr>
<tr><td>Age : </td><td>{{form.min_age}}</td><td>{{form.max_age}}</td></tr>
<tr><td>Taille : </td><td>{{form.min_height}}</td><td>{{form.max_height}}</td></tr>

<tr><td>Def : </td><td>{{form.min_def}}</td><td>{{form.max_def}}</td></tr>
<tr><td>Shoot : </td><td>{{form.min_shoot}}</td><td>{{form.max_shoot}}</td></tr>
<tr><td>Vit : </td><td>{{form.min_speed}}</td><td>{{form.max_speed}}</td></tr>
<tr><td>Dri : </td><td>{{form.min_drib}}</td><td>{{form.max_drib}}</td></tr>
<tr><td>For : </td><td>{{form.min_str}}</td><td>{{form.max_str}}</td></tr>
<tr><td>MdP : </td><td>{{form.min_ftw}}</td><td>{{form.max_ftw}}</td></tr>
<tr><td>Xp : </td><td>{{form.min_xp}}</td><td>{{form.max_xp}}</td></tr>
<tr><td>Trier par : </td><td></td><td></td></tr>
<tr>	<td>{{form.sort1}}</td><td>puis</td><td>{{form.sort2}}</td></tr>
<tr><td></td><td><input type='submit' value='Soumettre'/></td></tr>
</table>
</form>
{%endif%}
{%if players%}
<br/><br/>
	{%for p in players%}
	<b>{{p.full_name}}</b> last update : {{p.last_update|date:"d/m/Y"}}<br/>
	<br/>
	<table>
	
	<tr><td>Age:</td><td>{{p.age}}</td></tr>
	<tr><td>Taille:</td><td>{{p.height}}</td></tr>
	<tr><td>Défense:</td><td bgcolor="{{p.defense|caracolor}}"><b>{{p.defense}}</b></td></tr>
	<tr><td>Tir :</td><td bgcolor="{{p.shot|caracolor}}"><b>{{p.shot}}</b></td></tr>
    <tr><td>Vitesse:</td><td bgcolor="{{p.speed|caracolor}}"><b>{{p.speed}}</b></td></tr>
	<tr><td>Dribble:</td><td bgcolor="{{p.dribbling|caracolor}}"><b>{{p.dribbling}}</b></td></tr>
    <tr><td>Force:</td><td bgcolor="{{p.straight|caracolor}}"><b>{{p.straight}}</b></td></tr>
    <tr></tr><td>Mouvement de Poste:</td><td bgcolor="{{p.postmove|caracolor}}"><b>{{p.postmove}}</b></td></tr>
	<tr><td>Expérience:</td><td bgcolor="{{p.experience|caracolor}}"><b>{{p.experience}}</b></td></tr>
	</table>
	<br /><br />
	<hr />
	{%endfor%}
{%endif%}
</center><br /><br />
{%endblock%}
