{%extends "index.html"%}
{%load playertag%}

{%block content%}
<br /><br />
<center>

<h1>{{team}}</h1>
<br /><br />
Filtre IC utilisé : <b>{{filter}}</b>
<br /><br />
<table>
<tr>
	<th width="250px">Nom</th>
    <th width="50px">Position</th>
	<th width="50px">Age</th>
	<th width="50px">Taille</th>
	
	<th width="30px">Def</th>
	<th width="30px">Tir</th>
    <th width="30px">Vit</th>
	<th width="30px">Dri</th>
    <th width="30px">For</th>
	<th width="30px">MdP</th>
	<th width="30px">Xp</th>
	<th width="150px">Last update</th>

</tr>
{%for p in players%}
<tr height="20px">
	<td>{{p.full_name}}</td>
	<td>{{p.position}}</td>
	<td>{{p.age}}</td>
	<td>{{p.height}}</td>

	<td bgcolor="{{p.defense|caracolor}}">{{p.defense}}</td>
	<td bgcolor="{{p.shot|caracolor}}">{{p.shot}}</td>
    <td bgcolor="{{p.speed|caracolor}}">{{p.speed}}</td>
	<td bgcolor="{{p.dribbling|caracolor}}">{{p.dribbling}}</td>
    <td bgcolor="{{p.straight|caracolor}}">{{p.straight}}</td>
	<td bgcolor="{{p.postmove|caracolor}}">{{p.postmove}}</td>
	<td bgcolor="{{p.experience|caracolor}}">{{p.experience}}</td>
	<td align="center">{{p.last_update|date:"d/m/Y"}}</td>
</tr>
{%endfor%}
</table>


</center><br /><br />
{%endblock%}
